/* ---- ---- ---- ---- IMG columns (and related) ---- ---- ---- ---- */
/* ---- ---- for result list ---- ---- */
.dollarImgCell {
	text-align: center;;
}

.dollarImageDiv, .dollarImgPDFdiv {
	display:inline;
}

.dollarImgCell .dollarImageItem {
	display:inline-block;
}

.dollarImgHideCanvas {
	display: none;
	visibility: hidden;
}

.dollarImageDiv .dollarImgThg {
	max-height: 22px;
}
.dollarImgPDFdiv .dollarImgThg{
	max-height: 16px;
}
.dollarImgThg{
	background-color: #AAA2;
}
.dollarImgShowCanvas {
	display:block;
	z-index: 999;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 500px;
	max-width: 100%;
	height: unset;
	background-color: #AAAA;
}
.dollarImgShowCanvas a {
	font-size: 15px;
	text-transform: uppercase;
}
.dollarImgCanvas {
	width: 100%;
	max-height: 50%;
}
.dollarImgCanvasp {
	display: flex;
	flex-direction: column;
}

/* ---- ---- for instance details ---- ---- */
:root {
	--defaultWidth : 250px; /* default size */
}

div.dollarImgDiv, .dollarImgCanvas_inst {
	width: var(--defaultWidth);
	display: flex;
	position: relative;
	background-color: #AAA2;
}
div.dollarImgDiv img, .dollarImgCanvas_inst img {
	width: 100%;
}

.dollarImgLft {
	left: 10px;
	right: auto;
}

div.dollarImgDiv span {
	display: none;
	position:absolute;
	bottom: 0;
	width: var(--defaultWidth);
	text-align: center;
	background: #333;
	color: #fff;
	font-size: 1em;
}

div.dollarImgDiv:hover span {
	display: inline-block;
}